#show_rooms {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.room_entry {
    display: flex;
    background: rgb(255, 120, 110);
    width: 1000px;
    height: 200px;
    border: .1em solid black;
    border-radius: 10px;
}

.room_entry:hover {
    background: rgb(218, 12, 12);
    cursor: pointer;
}

.room_entry_data {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 90%;
    margin: 20px;
    padding: 25px;
}

.room_entry_title {
    font-size: 40px;
    color: white;
    font-weight: bold;
}

.room_entry_buttons {
    display: flex;
    position: absolute;
    right: 0;
    bottom: 0;
}

.room_entry_image {
    border: .05em solid gray;
    border-radius: 15px;
    margin: 20px;
    height: 150px;
    width: 200px;
}